/* Global Styles */
* {
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
    font-family: "wii", sans-serif; /* Custom font for the entire page */
}
/* Custom Wii Font */
@font-face {
    font-family: 'wii'; /* This is the name in CSS */
    src: url('https://sctech.mooo.com/wii_bold.ttf') format('ttf'); /* Path to font file */
}
